body {
  font-family: 'Comfortaa', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#home {
  text-decoration: underline;
}

/* PIC AND TITLE */

.header{
  position: relative;
  color: white;
  display: block;

}

.header img {
  position: relative;
  width: 100%;
  height:100%;
  display: block;
  margin-top: -15%;
  z-index: 5;
}

h1 {
  position: relative;
  text-align: center;
  font-size:  20vw;
  color: white;
  margin-top: -77%;
  z-index: 10;
}

.header p {
  position: relative;
  text-align: center;
  font-size: 5vw;
  color: white;
  z-index: 10;
}

.newflav {
  position: relative;
  margin-top: 60%;
}

.newflav h2{
  position: relative;
  color: white;
  padding-left: 12%;
  font-weight: bold;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  font-size: 8vw;
  padding-bottom: 5%;
  z-index: 10;
  margin-top: -99%;
}

.newflav h3 {
  position: relative;
  z-index: 5;
  padding-left: 47%;
  margin-top: 45%;
  font-size:15vw;
  color: white;

}

.parallax {

  max-height:120vw;
  /* The image used */
  background-image: linear-gradient(to bottom, rgba(126, 13, 81, 1), rgba(185, 78, 85, 0.4)),
  url("../images/orchard.jpg");



  /* Set a specific height */
  min-height: 120vw;;



  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -100px;
  z-index: 1;
  width: 100%;
}

.newflav #graphic {
  position: absolute;
  margin-top: -109%;
  z-index: 4;
  width: 100%;
}

.newflav #divider {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 70px;
  margin-top: 13%;
}

.mission h2 {
  position: relative;
  text-align: center;
  font-size: 8vw;
  font-style: bold;
  margin-top: -5%;
  z-index: 2;
  color: #7E0D51;
}

.framePara {
  display: grid;
  grid-template-columns: 15% 30% 40% 15%;
  grid-template-rows: 10% 20% 30% 20% 20%;
}

.mission #frame {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
}

.mission p {
  grid-row: 2;
  grid-column: 2 / 4;
  text-align: center;
  line-height: 6vw;
  font-size: 5vw;
  color: #7E0D51;
}

.mission #smallerText {
  grid-row: 3;
  font-size: 3vw;
  line-height: 4vw;
  text-align: left;
}

.mission #learnMore p, a {
  grid-row: 5;
  grid-column: 2 / 4;
  font-size: 3vw;
  text-align: center;
  color: #7E0D51;
}

.mission #learnMoreArrow {
  grid-row: 4;
  grid-column: 3;
  margin-left: 10%;
  margin-top: -7%;
  text-align: center;
  color: #7E0D51;
  width:80%;
}

.mission #learnMoreFlowers {
  grid-row: 4;
  grid-column: 2;

  margin-top: -15%;
  text-align: center;
  color: #7E0D51;
  width:110%;
}



#upButtonId {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
}

@media screen and (min-width: 720px){
  /* .header img {
    display: none;
  } */

  h1 {
    font-size: 60px;
    height: 100%;
    color: #7E0D51;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    display: block;
    float: left;
    clear:left;
    margin-top: 0%;
  }


}

@media screen and (min-width: 1024px){
}
