body {
  font-family: 'Comfortaa', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#home {
  text-decoration: underline;
}

/* PIC AND TITLE */

.header{
  position: relative;
  color: white;
  display: block;

}

.header img {
  position: relative;
  width: 100%;
  height:100%;
  display: block;
  margin-top: -15%;
  z-index: 5;
}

h1 {
  position: relative;
  text-align: center;
  font-size:  20vw;
  color: white;
  margin-top: -77%;
  z-index: 10;
}

.header p {
  position: relative;
  text-align: center;
  font-size: 5vw;
  color: white;
  z-index: 10;
}

.newflav {
  position: relative;
  margin-top: 60%;
}

.newflav h2{
  position: relative;
  color: white;
  padding-left: 12%;
  font-weight: bold;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  font-size: 8vw;
  padding-bottom: 5%;
  z-index: 10;
  margin-top: -99%;
}

.newflav h3 {
  position: relative;
  z-index: 5;
  padding-left: 47%;
  margin-top: 45%;
  font-size:15vw;
  color: white;

}

.parallax {

  max-height:120vw;
  /* The image used */
  background-image: linear-gradient(to bottom, rgba(126, 13, 81, 1), rgba(185, 78, 85, 0.4)),
  url("../images/orchard.jpg");



  /* Set a specific height */
  min-height: 120vw;;



  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: relative;
  margin-top: -100px;
  z-index: 1;
  width: 100%;
}

.newflav #graphic {
  position: absolute;
  margin-top: -109%;
  z-index: 4;
  width: 100%;
}

.newflav #divider {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 70px;
  margin-top: 13%;
}

.mission h2 {
  position: relative;
  text-align: center;
  font-size: 8vw;
  font-weight: bold;
  margin-top: -5%;
  z-index: 2;
  color: #7E0D51;
}

.framePara {
  display: grid;
  grid-template-columns: 15% 30% 40% 15%;
  grid-template-rows: 10% 20% 30% 20% 20%;
}

.mission #frame {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
}

.mission p {
  grid-row: 2;
  grid-column: 2 / 4;
  text-align: center;
  line-height: 6vw;
  font-size: 5vw;
  color: #7E0D51;
}

.mission #smallerText {
  grid-row: 3;
  font-size: 3vw;
  line-height: 4vw;
  text-align: left;
}

.mission #learnMore p, a {
  grid-row: 5;
  grid-column: 2 / 4;
  font-size: 3vw;
  text-align: center;
  color: #7E0D51;
}

.mission #learnMoreArrow, .mission #learnMoreArrowL{
  grid-row: 4;
  grid-column: 3;
  margin-left: 10%;
  margin-top: -7%;
  text-align: center;
  color: #7E0D51;
  width:80%;
}



.mission #learnMoreFlowers, .mission #learnMoreFlowersL {
  grid-row: 4;
  grid-column: 2;

  margin-top: -15%;
  text-align: center;
  color: #7E0D51;
  width:110%;
}

#upButtonId {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
}

.largeView{
  display: none;
  background-color: #7e0d51;
}

@media screen and (min-width: 720px){
  .header, #divider{
    display: none;
  }

  .largeView {
    display: block;
  }

  .content {
  position: relative;
  margin-top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow:hidden;
  font-size: 4vw;
  line-height: 4vw;
  color: #ecf0f1;
  }

  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 4.6vw;
    padding: 0 4.6vw;
  }

    .content__container__text {
      display: inline;
      float: left;
      margin: 0;
      color: white;
    }

    .content__container__list {
      margin-top: -0.3%;
      padding-left:37%;
      text-align: left;
      list-style: none;

      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;
    }

    .content__container__list__item {
        line-height:4.6vw;
        margin:0;
      }
  @-webkit-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }

  @-o-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }

  @-o-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }

  @-moz-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }

  @-moz-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }

  @keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }

  @keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }

    #flowerVideo{
      display: block;
      position: relative;
      right: 0;
      margin-top: -4%;
      width: 100%;
      min-height: 100%;
    }

    #playb, #pauseb {
      color: white;
      position: relative;
      z-index:90;
      display: none;
      top: -10vh;
      right: -95%;
    }

    #playb {
      display: none;
    }

    #pauseb {
      display: inline;
    }

    #halfdivider, #halfdivider2{
      position: relative;
      z-index:10;
      display: block;
      width:100%;
    }

    #halfdivider2{
      margin-top: -11%;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    #dividerL {
      position: relative;
      display:block;
      z-index: 80;
      width: 100%;
      height: 120px;
      margin-top: -7%;
    }

    .parallax {
      margin-top: -550px;
      z-index: -1;
      width: 100%;
      max-height: 800px;
      min-height: 800px;
      background-color: black;
    }

    h1 {
      font-size: 60px;
      height: 100%;
      color: #7E0D51;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      display: block;
      float: left;
      clear:left;
      margin-top: 0%;
    }

    .newflav #graphic {
      position: absolute;
      margin-top: -650px;
      z-index: 4;
      width: 500px;
    }

    .newflav #divider {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 70px;
      margin-top: 13%;
    }

    .newflav {
      position: relative;
      margin-top: 60%;
    }

    .newflav h2{
      display: none;
      /* position: relative;
      color: white;
      padding-left: 12%;
      font-weight: bold;
      display: grid;
      grid-template-columns: 5fr 1fr;
      grid-template-rows: 1fr;
      font-size: 8vw;
      padding-bottom: 5%;
      z-index: 10;
      margin-top: -99%; */
    }

    .newflav h3 {
      display: none;
      /* position: relative;
      z-index: 5;
      padding-left: 47%;
      margin-top: 45%;
      font-size:15vw;
      color: white; */

    }

    .mission {
      margin-top: 100px;
    }
    .mission p{
      font-size: 50px;
    }

    .mission p #smallerText {
      font-size: 30px;
    }
    .mission #frame {
      grid-row: 1/-1;
      grid-column: 1/-1;
      width: 100%;
      margin-left: 1%;
    }
    .mission #learnMoreArrow, .mission #learnMoreArrowL{
      grid-row: 4;
      grid-column: 3;
      margin-left: 10%;
      margin-top: -7%;
      text-align: center;
      color: #7E0D51;
      width:80%;
    }



    .mission #learnMoreFlowers, .mission #learnMoreFlowersL {
      grid-row: 4;
      grid-column: 2;

      margin-top: -15%;
      text-align: center;
      color: #7E0D51;
      width:110%;
    }
}

@media screen and (min-width: 1024px){
  #playb, #pauseb{
    /* top: -15vh; */
  }

  .header h1{
    color: white;
  }

  #dividerL {
    margin-top: -6%;
  }

}

@media screen and (prefers-reduced-motion: reduce){
  .content__container__list{
    -webkit-animation: none;
    animation: none;
  }
}
