.skip a{
  background: white;
  left: 0px;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

  position: absolute;
  margin-top: -40px;
}

.skip a:focus{
  position: relative;
  }

:focus {
  border: 2px solid #7E0D51;
  }

.mobnav {
  /* font-size: 60px; */
  height: 100%;
  color: #7E0D51;
  padding-top: 10px;
  padding-left: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 99;
}

.mobnav h1 {
  display: inline;
  position: relative;
}

.mobnav a {
  color: #7E0D51;
  text-decoration: none;
}

#iconx2 {
  z-index: 100;
  display: none;
  position: relative;
  float: right;
  color: #7E0D51;
  font-size: 30px;
  top: 0px;
  right: 20px;
}

.mobnav #navlinks {
  position: fixed;
  height: 100%;
  z-index: 3;
  right: 0;
  display: none;
  font-size: 15px;
  color: #7E0D51;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .5);
  line-height: 40px;
  /* margin-top: 30px; */
  transition: 0.5s;
  width:0;
}

.mobnav #navlinks a{
  transition: 0.5s;
  display:block;
}

.mobnav a.icon {
  z-index: 100;
  display: block;
  position: relative;
  float: right;
  color: #7E0D51;
  font-size: 30px;
  top: 0px;
  right: 20px;
}

.mobnav a:hover{
  text-decoration: none;
  border-bottom: 5px solid #B94E55;
  border-top: 5px solid #B94E55;
}

.mobnav a.icon:hover, #iconx2 {
  border-bottom: none;
  border-top: none;
}

.mobnav #home:hover, .mobnav #prod:hover, .mobnav #faq:hover, .mobnav #cont:hover, .mobnav #story:hover{
  text-decoration: none;
  border-bottom: 5px solid #B94E55;
}

.tabnav{
  display: none;
}

.webnav{
  display: none;
}

@media screen and (min-width: 720px){
  .mobnav{
    display: none;
  }

  .webnav{
    display: none;
  }

  .tabnav{
    display: block;
    z-index: 99;
    height: 100%;
    color: #7E0D51;
    padding-top: 10px;
    padding-left: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

  .tabnav #iconU {
    position: relative;
    z-index: 100;
    display: none;
    float: right;
    color: #7E0D51;
    font-size: 30px;
    top: 10px;
    right: 10px;
  }

  .tabnav #iconD {
    position: relative;
    z-index: 100;
    display: inline;
    float: right;
    color: #7E0D51;
    font-size: 30px;
    top: 10px;
    right: 10px;
    /* margin-top: 5px; */
  }

  .tabnav #home {
    position: relative;
    z-index: 99;
    margin-top: 16px;
    margin-right: 25px;
    float:right;
    text-decoration: none;
    color: #7E0D51;
    font-size: 3vw;
  }

  .tabnav #navlinkstab {
    position: fixed;
    z-index: 3;
    right: 0;
    display: none;

    color: #7E0D51;
    background-color: white;
    padding: 10px;
    margin-top: 35px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .5);
    line-height: 40px;
    /* margin-top: 30px; */
    transition: 0.5s;
    text-align: right;
  }

  .tabnav a{
    color: #7E0D51;
    font-size: 2vw;
    transition: 0.5s;
  }

  .tabnav a.icon {
    z-index: 100;
    display: block;
    position: relative;
    float: right;
    color: #7E0D51;
    font-size: 30px;
    top: 0px;
    right: 20px;
  }

  .tabnav a:hover{
    text-decoration: none;
    border-bottom: 5px solid #B94E55;
  }
  #head h2 {
    display: none;
  }

}

@media screen and (min-width: 1024px){
  .skip a{
    background: white;
    left: 0px;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;

    position: absolute;
    margin-top: -60px;
  }

  .skip a:focus{
    position: relative;
    }

  :focus {
    border: 2px solid #7E0D51;
    }
  .tabnav{
    display: none;
  }

  .webnav{
    position: relative;
    z-index: 101;
    display: block;
  }

  .webnav #navlinksWeb{
    color: #7E0D51;
    z-index: 101;
    float: right;
    margin-top: 20px;
    margin-right: 25px;
  }

  .webnav a{
    color: #7E0D51;
    z-index: 101;
    text-decoration: none;
    font-size: 2vw;
    margin-left: 30px;
  }

  .webnav a:hover{
    background-color: #B94E55;
    color: white;
    padding: 5px;
  }

  .webnav #homeWeb{
    z-index: 101;
    text-decoration: none;
    border-bottom: 5px solid #B94E55;
    color: #B94E55;
    font-weight: bold;
  }

  .webnav #home:hover{
    color: white;
    border-bottom: 5px solid white;
  }

  #head h2 {
    display: none;
  }


}
