
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);;
  align-items: center;

}

h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
}

#first{
  width: 400px;
  max-height: 200px;
  grid-column: 1 / span 2;
}

 #firstt, #fourtht {
   text-align: left;
   grid-column: 3;
   grid-row: 1;
 }

 #fourtht {
   grid-row:4;
 }

 #second{

   width: 400px;
   max-height: 200px;
   grid-column: 2 / span 2;
   grid-row:2;
 }

  #secondt {
       text-align: right;
    grid-column: 1;
    grid-row: 2;

  }

  #third{

    width: 200px;
    height: 400px;
    grid-column: 1;
    grid-row:3 / span 2;
    overflow: hidden;
  }

   #thirdt {
     text-align: center;
     grid-column: 2;
     grid-row: 3;

   }

   #thirdi {
     width: 200px;
     max-height: 200px;
     grid-column: 3;
     grid-row:3;
   }
#fourth{
  width: 200px;
  max-height: 200px;
  grid-column: 2;
  grid-row:4;
}
